<nav aria-label="Page navigation example">
<!-- 
{
  pg: 0,
  eleCount: 3,
  maxEleCount: 8, 
  hiddenFieldList: [ { name: "", value: "" }, ],
  onEmpty: "No Match Message",
}
 -->
<form>
  <% hiddenFieldList.push(
    { name:"pg", value: pg },
    { name: ""}
  ); %>
  <%- include( "../partials/hiddenField", { hiddenFieldList } ); %>

  <ul class="pagination">
    <% if ( eleCount > 0 ) { %>
      
      <% if ( pg > 0 ) { %>
        <li class="page-item"><button type="submit" name="pgAction" value="prev" class="btn btn-secondary page-link" >Previous</button></li>
      <% } %>
  
      <li class="page-item"><a class="page-link"><%= parseInt(pg)+1 %></a></li>
  
      <% if ( eleCount >= maxEleCount ) { %>
        <li class="page-item"><button type="submit" name="pgAction" value="next" class="btn btn-secondary page-link" >Next</button></li>
      <% } %>
      
    <% } else { %>
      <h4> <%= typeof onEmpty !== 'undefined' ? onEmpty : '' %></h4>
    <% } %>

  </ul>
</form>
</nav>
