
    <link href="/css/table.css" rel="stylesheet" type="text/css">
<table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered tableFixHead table-responsive" style="text-align:center">
    <!-- table table-striped table-bordered  -->
    <thead>
      <tr>
          <th >#</th>
          <% headerList.forEach( header => { %>
              <th><%= header %></th>
          <% }) %>
      </tr>
    </thead>
    <tbody>
        <% rowList.forEach( row => { %>

            <tr>
              <th> <%= startSlNum++ %></th>
                <% row.forEach( ele => { %>
                    <td><%= ele %></td>
                <% }) %>
            </tr>
            
        <% }) %>

    </tbody>  
</table>