.table-responsive {
    max-height:410px;
}
.tableFixHead          { overflow-y: auto;}
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse;}
th, td { padding: 7px 10px; }
th     { background:#eee; }