<!DOCTYPE html>
<html>
    <%- include( "../partials/bootstrap" ) %>
<head> <title> Book View </title> </head>

<%- include( "../partials/navbar", { activeNav: "Book" } ) %>

<%- include( "../partials/infoCard", {
    imgPath: "/book.png",
} ) %>
<%- include( "../partials/setEleValByID" ) %>

<body>

    
</body>

</html>