<!DOCTYPE html>
<html>
    <%- include( "../partials/bootstrap" ) %>
<head> <title> Book View </title> </head>

<%- include( "../partials/navbar", { activeNav: "Book" } ) %>
<div class="row">
    
    <div class="col-md-3">

        <%- include( "../partials/infoCard", {
            imgPath: "/book.png",
            title: { label: "Title", name: "title", type: "text", disabled: "true" },
            body: [
                { label: "Author", name: "author", type: "text", disabled: "true" },
                { label: "Edition", name: "edition", type: "text", disabled: "true" },
            ],
            buttons: [

                { label: "Click To Disable", type: "danger", 
                formaction: "/book/status", formmethod: "post" },

                { label: "Edit", type: "primary", 
                formaction: "/book/edit", formmethod: "get" },            
            ]
        } ) %>
        
    </div>

    <div class="col-md-3">

    </div>

    <div class="col-md-3">

    </div>

</div>
<%- include( "../partials/setEleValByID" ) %>

<body>

    
</body>

</html>