<div class="card" style="width: 100%;">
    <h5 class="card-header">
      PurchaseBook: Book Name
    </h5>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">By: Author Name</h6>
        <h6 class="card-subtitle mb-2 text-muted">Edition : 1</h6>
  
        <div class="row">
          <div class="col" style="color: green;"> Avail </div>
          <div class="col" style="color: red;"> Lent</div>
        </div>
  
        <div class="row">
          <div class="col" style="color: green;"> 100 </div>
          <div class="col" style="color: red;"> 50</div>
        </div>
        <br>
        <div class="container">
  
          <div class="row" style="background-color: cadetblue;">
            <div class="col">Customer Name</div>
            <div class="col-3">Lent On</div>
            <div class="col-3">Return By</div>
          </div>
  
          <div class="row" >
            <div class="col">Some Name</div>
            <div class="col-3">30 - 04 - 2020</div>
            <div class="col-3">20 - 05 - 2020</div>
          </div>        
  
        </div>
  
  
  
      </div>
  </div>